.icon-globe:before {
	content: '\e800';
} /* '' */
.icon-github:before {
	content: '\f09b';
} /* '' */
.icon-mail:before {
	content: '\f0e0';
} /* '' */
.icon-linkedin:before {
	content: '\f0e1';
} /* '' */
.icon-apple:before {
	content: '\f179';
} /* '' */
.icon-android:before {
	content: '\f17b';
} /* '' */
