@font-face {
	font-family: 'fontello';
	src: url('/font/fontello.woff2');
	font-weight: normal;
	font-style: normal;
}
.icon-globe:before {
	content: '\e800';
} /* '' */
.icon-github:before {
	content: '\f09b';
} /* '' */
.icon-mail:before {
	content: '\f0e0';
} /* '' */
.icon-linkedin:before {
	content: '\f0e1';
} /* '' */
.icon-apple:before {
	content: '\f179';
} /* '' */
.icon-android:before {
	content: '\f17b';
} /* '' */

[class^='icon-']:before,
[class*=' icon-']:before {
	font-family: 'fontello';
}
